doctype html
include _mixins.pug

html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title #{title}

        link(rel="icon", href="images/jquery-toad-icon.png")
        +unpkg-css("bootstrap@4.1.2", "dist/css/bootstrap.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css")
        +unpkg-css("highlightjs@9.10.0", "styles/github-gist.css")
        link(rel="stylesheet", href="style/toad.css")

        //- Script de inicialização TOAD
        script.
            var __TOAD__ = 'TOAD';

    body(data-controller="main")
        main(role="main")
            div(class="container")
                div(class="toad-main-box bg-light border-dark")
                    div(class="toad-logo-box")
                        img(class="img-fluid" src="images/jquery-toad-logo.png" alt="Logo jQuery TOAD")
                
                    //- Menu
                    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
                        a(class="navbar-brand" href="index.html") Home
                        
                        //- Botão do menu para mobile
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Alterna navegação")
                            span(class="navbar-toggler-icon")
                        
                        //- Itens do menu
                        div(class="collapse navbar-collapse" id="main-menu")
                            ul(class="navbar-nav mr-auto")
                                li(class="nav-item active")
                                    a(class="nav-link" href="motivacao.html") Qual a motivação?
                                li(class="nav-item dropdown")
                                    a(class="nav-link dropdown-toggle" href="#" id="submenu-documentacao" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Documentação
                                    
                                    //- Itens do submenu de documentação
                                    div(class="dropdown-menu" aria-labelledby="submenu-documentacao")
                                        h6(class="dropdown-header") TUTORIAIS
                                        a(class="dropdown-item" href="tutorial-quickstart.html") Guia de início rápido
                                        a(class="dropdown-item" href="tutorial-mvc.html") O padrão MVC
                                        div(class="dropdown-divider")
                                        h6(class="dropdown-header") CONCEITOS
                                        a(class="dropdown-item" href="conceito-variavel-toad.html") A variável <kbd>__TOAD__</kbd>
                                        a(class="dropdown-item" href="conceito-modulo.html") Modularização
                                        a(class="dropdown-item" href="conceito-componente.html") Componentes
                                        a(class="dropdown-item" href="conceito-utilitario.html") Utilitários
                                        a(class="dropdown-item" href="conceito-configuracao.html") Configurações
                                        a(class="dropdown-item" href="conceito-constante.html") Constantes

                    //- Conteúdo
                    div(class="toad-content-box col-md-10 offset-md-1")
                        block content

        //- Rodapé
        footer(class="text-secondary bg-light border-dark toad-footer-box")
            div(class="container")
                p(class="lead text-center" data-gui="copyright")
                div(class="my-2 my-lg-0 text-center")
                    +fa-icon("secondary", "github", "https://github.com/e5r/jquery-toad", "@e5r/jquery-toad")
                    +fa-icon("info", "wordpress-simple", "https://erlimar.wordpress.com", "erlimar.wordpress.com")
                    +fa-icon("primary", "twitter", "https://twitter.com/erlimar", "@erlimar")
                    +fa-icon("danger", "youtube", "https://www.youtube.com/channel/UC6zPtVBfcAdkzq7-dpSlhdw", "E5R Development Team")
        
        //- Scripts de terceiro
        +unpkg-js("jquery@3.3.1", "dist/jquery.js")
        +unpkg-js("bootstrap@4.1.2", "dist/js/bootstrap.js")
        +unpkg-js("highlightjs@9.10.0", "highlight.pack.js")
        +lib-js("jquery-toad")

        //- Scripts da aplicação
        block scripts
            +component-js("code-block")
            +component-js("copyright")
            +component-js("demo")
            +controller-js("main")
