extends _layout.pug

block content
    h1(class="display-4 text-center") O velho e querido jQuery!
    blockquote(class="blockquote text-center")
        p(class="lead mb-0") <strong>jQuery TOAD (The Old And Dear)</strong> é antes de mais nada, meu tributo ao velho e querido jQuery.
        p(class="lead") Trata-se de uma biblioteca simples que ajuda você a organizar seu código de aplicação baseado em jQuery.
        footer(class="blockquote-footer") por
            cite(title="Erlimar Silva Campos", class="text-info") Erlimar Silva Campos

block append scripts
    +controller-js("home")
