extends _layout.pug

block content
    h1(class="display-4 text-center")
        | Qual a motivação?
    p(class="lead")
        | Como eu disse antes: jQuery TOAD (<strong>T</strong>he <strong>O</strong>ld <strong>A</strong>nd <strong>D</strong>ear) é, antes de mais nada, meu tributo ao <i>velho e querido jQuery</i>.
    p(class="lead")
        | Durante muitos anos essa maravilhosa biblioteca tem servido e contribuído para a popularização e evolução da Internet.
        | Sem nenhuma dúvida contribuiu para a criação de inúmeros padrões que estão disponíveis hoje em todos os navegadores web.
        | E é inclusive difícil você achar algum site ou sistema web que não a utilize <i>(Tem dúvidas? Pressione <kbd>F12</kbd> no seu navegador agora e digite <code>$</code> pra ver o que acontece)</i>
        | Sem contar os inúmeros <i>plugins</i> espalhados por toda web que nos ajudam no nosso "dia-a-dia".
    p(class="lead")
        | Porém, há hoje quem diga que <i>jQuery</i> já não é mais tão necessário.
        | Ingratos! (kkk, brincadeira. Só que não.).
        | Que isso gente! Vejam a versão 3.0 aí, e como ela continua vivíssima!
    p(class="lead")
        | Mas o fato é que realmente hoje, já não há mais tanta dificuldade pra fazer uma aplicação eficiente e bonita somente com HTML, CSS e JavaScript puramente.
        | Mas isso pra quem é um bom programador JavaScript.
    p(class="lead")
        | Acredito eu, que um dos maiores responsáveis por tornar jQuery no que ela se tornou, foi o fato de que:
        | <i>"Com jQuery até quem não era expert em JavaScript poderia criar coisas incrivelmente fáceis"</i>.
    p(class="lead")
        | Não podemos negar o fato de que hoje existe uma enorme base de código em produção que já usa jQuery eficientemente há anos, e ainda vão estar funcionando por vários outros anos.
        | E convenhamos, não dá pra dizer que só quem mantém essas aplicações são programadores experts em JavaScript.
    p(class="lead")
        | Não estou aqui dizendo que jQuery é pra <i>"não experts"</i>.
        | Mas sim que jQuery permite que se possa ter uma equipe de desenvolvedores sem tanta experiência em programação front-end, mas que desenvolvem e mantém ótimas aplicações.
        | Também não estou falando de manter somente aplicações legadas, inúmeros projetos estão iniciando hoje ainda e com jQuery como base.
    p(class="lead")
        | É muito bom, fácil, produtivo, além de trazer inúmeros benefícios criar aplicações completas no front-end, as <i>SPA's</i>, e usar todo o poder do JavaScript nos navegadores,
        | pra isso recorremos ao Angular, Ember, Vue, e companhia.
        | Mas na realidade, será que você realmente precisa de tudo isso? Ou, será que eles se aplicam ao seu cenário?
        | Ou o "velho e querido jQuery" dá conta sozinho?
        | Ou ainda, será seu site ou aplicação não vai precisar funcionar no IE 8? (veja bem!).
    p(class="lead")
        | Durante muito tempo eu uso o jQuery em inúmeras aplicações que desenvolvo (até hoje), mas sempre negligenciei a forma como organizava meu código.
        | Normalmente cada projeto era um projeto.
        | Não estou dizendo que escrevia/organizava meu código porcamente. Não! Só estou dizendo que nunca precisei seguir padrões tão à risca como faço com aplicações Angular, Ember, etc.
    p(class="lead")
        | Esse meu "projeto tributo" foi motivado por uma necessidade de contribuir com a comunidade jQuery, tentando devolver um pouco de tuque que a jQuery já me proporcionou.
        | Essa não é apenas uma biblioteca, é na verdade uma proposta de arquitetura para aplicações que usam jQuery.
        | Por isso quero deixar aqui também alguma documentação de como você pode criar aplicações web, construindo peças com o uso da jQuery e juntando elas em suas páginas de forma eficiente sem requerer outras bibliotecas para isso.
    p(class="lead")
        | A idéia é que, seguindo essa proposta, você possa construir sua aplicação com todo o poder que a jQuery já te dá.
        | E que de quebra a manutenção fique mais fácil.
        | Que seja mais simples você identificar uma porção da sua aplicação, seja para corrigir um problema ou para melhorá-la.

    blockquote(class="blockquote text-center")
        p(class="lead mb-0") <strong>MUITO OBRIGADO JQUERY !</strong>
        footer(class="blockquote-footer") agradecido
            cite(title="Erlimar Silva Campos", class="text-info") Erlimar Silva Campos

//- block append scripts
