extends _layout.pug

block content
    h1 jQuery TOAD

    p jQuery TOAD (**T**he **O**ld **A**nd **D**ear) é, antes de mais nada, meu tributo ao __velho e querido jQuery__.

    p Durante muitos anos essa maravilhosa biblioteca tem servido e contribuído para a popularização e evolução da Internet. Sem nenhuma dúvida contribuiu para a criação de inúmeros padrões que estão disponíveis hoje em todos os navegadores web, e é inclusive difícil você achar algum site ou sistema web que não a utilize _(Tem dúvidas? Pressione F12 no seu navegador agora e digite `$` pra ver o que acontece)_. Sem contar os inúmeros _plugins_ espalhados por toda web que nos ajudam a tocar nosso "dia-a-dia".

    p Porém, há hoje quem diga que __jQuery__ já não é mais tão necessário. Ingratos! (kkk, brincadeira. Só que não.). Que isso gente! Vejam a versão 3.0 aí, e como ela continua vivíssima!

    p Mas o fato é que realmente hoje, já não há mais tanta dificuldade pra fazer uma aplicação eficiente e bonita somente com HTML, CSS e JavaScript puramente. Mas isso pra quem é um bom programador JavaScript.

    p Acredito eu, que um dos maiores responsáveis por tornar jQuery no que ela se tornou, foi o fato de que: "Com jQuery até quem não era expert em JavaScript poderia criar coisas incrivelmente fáceis".

    p Não podemos negar o fato de que hoje existe uma enorme base de códigos em produção que já usam jQuery eficientemente há anos, e ainda vão estar funcionando por vários outros anos. E convenhamos, não dá pra dizer que só quem mantém essas aplicações são programadores experts em JavaScript.

    p Não estou aqui dizendo que jQuery é pra "não experts". Mas sim que jQuery permite que se possa ter uma equipe de desenvolvedores sem tanta experiência em programação front-end, e eles desenvolverem e manterem ótimas aplicações. Também não estou falando de manter somente aplicações legadas, inúmeros projetos estão iniciando hoje ainda e que usam jQuery como base.

    p É muito bom, fácil, produtivo, além de trazer inúmeros benefícios criar aplicações completas no front-end, e usando o poder do JavaScript nos navegadores, pra isso recorremos ao Angular, Ember, Vue, e companhia. Mas na realidade, será que você realmente precisa de tudo isso? Ou, será que eles se aplicam ao seu cenário? Ou o "velho e querido jQuery" dá conta sozinho? Ou ainda, será seu site ou aplicação não vai precisar funcionar no IE? (veja bem!).

    p Durante muito tempo eu uso o jQuery em inúmeras aplicações que desenvolvo (até hoje), mas sempre negligenciei a forma como organizava meu código. Normalmente cada projeto era um projeto. Não estou dizendo que escrevia/organizava meu código porcamente, não, só estou dizendo que nunca precisei seguir padrões tão a risca como faço com aplicações Angular, Ember, etc.

    p Esse meu "projeto tributo" é uma contribuição que estou fazendo a comunidade, tentando devolver tudo que o jQuery já me proporcionou. Essa não é apenas uma biblioteca, é na verdade uma proposta de arquitetura para aplicações que usam jQuery. Por isso quero deixar aqui também alguma documentação de como você pode construir sua aplicação, construindo suas peças com o uso da jQuery e juntando elas em suas páginas de forma eficiente sem requerer outras bibliotecas para isso.

    p A idéia é que, seguindo essa proposta, você possa construir sua aplicação com todo o poder que a jQuery já te dá. E que de quebra a manutenção fique mais fácil. Que seja mais simples você identificar uma porção da sua aplicação, seja para corrigir um problema ou para melhorá-la.

    p: strong MUITO OBRIGADO JQUERY !
    
    blockquote
        footer(class="blockquote-footer") por
            cite(title="Erlimar Silva Campos", class="text-info") Erlimar Silva Campos (@erlimar)

//- block append scripts
